.database{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
.navbar{
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
  background-color: #292E3F;
  color: #4BC4A6;
}
.head{
    width: 95%;
    display: flex;
    justify-content: space-between;
align-items: center;
  height: 60px;
}
.head h2{
    margin: 0;
}
.head button{
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 3px;
      font-family: 'Poppins', sans-serif;
 
}
.containerss{
    display: flex;
   
    margin-top: 1px;
    border-radius: 3px;
    width: 100%;
   
}
.containerss ol{
    list-style-type: lower-roman;
    margin-top: 1px;
    border-radius: 3px;
    width: 99%;
    display: flex;
    height: 50px;
    align-items: center;
    border:1px solid #b2b8cb;
    justify-content: space-between;
    height: auto;
}
.containerss  span p{
    width: 300px;
    padding-right: 5px;
}
@media only screen and (max-width: 800px) {
   .containerss ol{
padding: 10px;
font-size: 10px;

    }
    .containerss  span p{
        width: 100px;
    }
}